<div class="row containerPricing">
    <div class="container">
        <div class="text-center PriceHeader">
            Fare Chart: (Economy)
        </div>
    </div>
    <div class="container mobile-hide">
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Desh Car</h1>
                </div>
                <div class="panel-body">
                    <table class="table-responsive" style="padding:25px">
                        <tr style="border: solid 1px #2ecb71; ">
                            <td></td>
                            <td>
                                7am - 12pm (Off-Pick)
                            </td>
                            <td>
                                12pm - 10pm (Pick-Hour)
                            </td>
                            <td>
                                10pm-7am (Midnight)
                            </td>
                        </tr>
                        <tr style="border: solid 1px #2ecb71">
                            <td><strong>Pickup Cost:</strong></td>
                            <td>TK- 60</td>
                            <td>Tk- 50</td>
                            <td>Tk- 80</td>
                        </tr>
                        <tr style="border: solid 1px #2ecb71; ">
                            <td><strong>Per kilo Charge:</strong></td>
                            <td>TK- 20</td>
                            <td>Tk- 25</td>
                            <td>Tk- 30</td>
                        </tr>
                    </table>
                </div>


            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Desh Premium</h1>
                </div>
                <div class="panel-body">
                    <table class="table-responsive">
                        <tr style="border: solid 1px #2ecb71; ">
                            <td></td>
                            <td>
                                7am - 12pm (Off-Pick)
                            </td>
                            <td>
                                12pm - 10pm (Pick-Hour)
                            </td>
                            <td>
                                10pm-7am (Midnight)
                            </td>
                        </tr>
                        <tr style="border: solid 1px #2ecb71; ">
                            <td><strong>Pickup Cost:</strong></td>
                            <td>TK- 100</td>
                            <td>Tk- 100</td>
                            <td>Tk- 100</td>
                        </tr>
                        <tr style="border: solid 1px #2ecb71; ">
                            <td><strong>Per kilo Charge:</strong></td>
                            <td>TK- 30</td>
                            <td>Tk- 25</td>
                            <td>Tk- 30</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
