@using(Html.BeginForm("Index", "DitclTest", FormMethod.Post, new {
    enctype = "multipart/form-data"
})) 
{ <div> 
    <img id = "user_img"
    height = "100"
    width = "90"
    style = "border:solid" /> </div>
    <div>
        <input type="file" title="search image" id="file" name="file" onchange="show(this)" />  </div>
        <div>
            UserId
        </div> <div> <input type = "text" id = "txt_id"
        name = "id" /> </div>
        <div>
            UserName
        </div> <div> <input type = "text"
        id = "txt_name"
        name = "Name"/> </div>
        <div>
            <input type="submit" title="save" />  </div>
            }
