@{
    ViewBag.Title = "Login";
}


<div class="clearfix">

</div>
<div class="clearfix">

</div>

<br />
<br />
<br />

<h2 class="deshDriverHead" style="text-align:center"> Passenger Login</h2>
<hr />
<div class="col-lg-4"></div>
<div class="col-lg-4">
    @using (Html.BeginForm("SignIn", "Passenger",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "well form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group" align="center">
            <input name="user" placeholder="E-Mail Address" class="form-control tableText" type="text">
        </div>

        <div class="form-group" align="center">
            <input name="pass" placeholder="Password" class="form-control tableText" type="password">
        </div>

        <div class="form-group" align="center">

            <input type="submit" value="Log in" class="btn btn-success " style="width:100%" />

        </div>

    }
</div>
<div class="col-lg-4"></div>