@model GrabCarMVC.Models.user_driver

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/lightbox.min.css" rel="stylesheet" />
<script src="~/Scripts/lightbox-plus-jquery.min.js"></script>

<div class="clearfix">

</div>
<div class="clearfix">

</div>
<div class="clearfix">

</div><div class="clearfix">

</div>
<div class="clearfix">

</div>
<br />
<br />
<br />
<div class="col-lg-12 deshDriverHead" align="center">
    <h4>
        Welcome To Desh Express Driver's home

    </h4>
</div>

<script>
    $(document).ready(function () {



        if (true) {
            //var id = $(this).attr("data-id");
            //$("#DriverId").text(id);
            $("#table").hide();
            $("#Approvals").show();

            $("#loaderDiv").hide();

            $.ajaxSetup({
                cache: false
            });

            var datas =
           {
               tag: "get_driver_info",
               driverId: parseInt($('#DriverId').text())
               //driverId: 4
           }


            var txt = "";
            var photo = "", nidphoto = "", brtcphoto = "", licphoto = "";
            var photol = "", nidphotol = "", brtcphotol = "", licphotol = "";


            var nu = "http://27.147.141.68/deshexpressbd/images/driver/";
            var nidlink = "http://27.147.141.68/deshexpressbd/images/driver/";
            var brtclink = "http://27.147.141.68/deshexpressbd/images/driver/";
            var liclink = "http://27.147.141.68/deshexpressbd/images/driver/";


            if (true) {

                console.log(parseInt($('#DriverId').text()));

                $.ajax({
                    type: "POST",
                    url: "http://27.147.141.68/deshexpressbd/api/android_apii.php",
                    data: datas,
                    beforeSend: function () {
                        $("#loaderDiv").show();

                    },
                    success: function (data) {

                        console.log("maaaaaay");
                        console.log(JSON.stringify(data));

                        var myInd = 1;
                        txt += " <div class='col-lg-3'><strong>Name: </strong></div><div class='col-lg-3'>" + data.fullName + "</div>";
                        txt += "<div class='col-lg-3'> <strong>Phone: </strong></div><div class='col-lg-3'>" + data.phone + "</div> ";
                        txt += " <div class='col-lg-3'><strong>Email: </strong></div><div class='col-lg-3'>" + data.email + "</div> ";
                        txt += "<div class='col-lg-3'> <strong>Age: </strong></div><div class='col-lg-3'>" + data.age + "</div> ";
                        txt += " <div class='col-lg-3'><strong>Present address: </strong></div><div class='col-lg-3'>" + data.present_address + "</div> ";
                        txt += " <div class='col-lg-3'><strong>City: </strong></div><div class='col-lg-3'>" + data.city + "</div> ";



                        txt += "<div class='col-lg-3'><strong>Car Type: </strong></div><div class='col-lg-3'>" + data.car_type + "</div>";
                        txt += "<div class='col-lg-3'><strong>Car Model: </strong></div><div class='col-lg-3'>" + data.car_model_no + "</div>";
                        txt += "<div class='col-lg-3'><strong>Manufacture Year: </strong></div><div class='col-lg-3'>" + data.manufacture_year + "</div>";
                        txt += "<div class='col-lg-3'><strong>Car No: </strong></div><div class='col-lg-3'>" + data.car_no + "</div>";

                        var v = "", nid = "", brtc = "", lic = "";
                        v = data.picture;
                        nid = data.nid_image;
                        brtc = data.brtc_image;
                        lic = data.license_image;

                        nu = nu + v;
                        nidlink = nidlink + nid;
                        brtclink = brtclink + brtc;
                        liclink = liclink + lic;


                        //photo += "<img src=" + nu + " style='width:200px ; height:200px' >";

                        photo += " <div style='text-align:center;padding:10px' class='col-lg-3'><a class='example-image-link' href=" + nu + " data-lightbox='example-1'>  <img src=" + nu + " style='width:200px ; height:200px' ></a></div>";

                        console.log(nidlink);
                        console.log(brtclink);
                        console.log(liclink);


                        //nidphoto += " <a class='example-image-link' href='http://lokeshdhakar.com/projects/lightbox2/images/image-1.jpg' data-lightbox='example-1'>  <img src=" + nidlink + " style='width:500px ; height:200px' >";
                        nidphoto += "<div style='text-align:center;padding:10px' class='col-lg-3'> <a class='example-image-link' href=" + nidlink + " data-lightbox='example-1'>  <img src=" + nidlink + " style='width:200px ; height:200px' ></a></div>";

                        brtcphoto += " <div style='text-align:center;padding:10px' class='col-lg-3'><a class='example-image-link' href=" + brtclink + " data-lightbox='example-1'>  <img src=" + brtclink + " style='width:200px ; height:200px'></a></div>";

                        // brtcphoto += "<img src=" + brtclink + " style='width:200px ; height:200px' >";
                        //licphoto += "<img src=" + liclink + " style='width:200px ; height:200px' >";

                        licphoto += " <div style='text-align:center;padding:10px' class='col-lg-3'><a class='example-image-link' href=" + liclink + " data-lightbox='example-1'>  <img src=" + liclink + " style='width:200px ; height:200px'></a></div>";


                        if (txt != "") {
                            $("#info").append(txt).removeClass("hidden");
                        }

                        if (photo != "") {
                            $("#photoId").append(photo).removeClass("hidden");
                        }

                        if (nidphoto != "") {
                            $("#photoNid").append(nidphoto).removeClass("hidden");
                        }

                        if (brtcphoto != "") {
                            $("#photoBrt").append(brtcphoto).removeClass("hidden");
                        }
                        if (licphoto != "") {
                            $("#photoLic").append(licphoto).removeClass("hidden");
                        }

                        $("#loaderDiv").hide();

                        //<!--   console.log(JSON.stringify(data)); -->
                        $("#sm").show();
                        $("#pic").show();
                        $("#sm").delay(3200).fadeOut(300);

                    },
                    dataType: 'json'
                });

            }
        }
    });

</script>

<div>
    <div class="ContectHead">
        <asp:Label ID="Label21" runat="server" Text="Approved Drivers" CssClass="Font_header"></asp:Label>
    </div>

    <div id="loaderDiv">

        <img src="~/Content/image/spinner.gif" width="70" />
    </div>




</div>

@*<%-- NEW ADFFFFFFFFFFFFFFFFFFFFFFFFFFFFFDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD --%>*@

<div id="DriverId" style="visibility:hidden">
    @*@TempData["driv"]*@
    @TempData["driv"].ToString()
</div>



<div id="Div1">


</div>



<div class="clearfix">

</div>
<hr />
<div id="Div2" class="hidden span12 tblName">
</div>

<div class="container">
    <div id ="info" class="col-lg-12">

    </div>


</div>

<div class="clearfix">

</div>
<hr />
<div class="container driverPic">
    <div id="pic" class="col-lg-12" style="padding:20px">

        <div id="photoId" class="col-lg-3" align="center">
            <span style="text-align:center;font-weight:bold;">Photo</span><br />
        </div>

        <div id="photoNid" class="col-lg-3 " align="center">
            <span style="text-align: center; font-weight: bold">NID</span><br />
        </div>

        <div id="photoBrt" class="col-lg-3" align="center">
            <span style="text-align: center; font-weight: bold">BRTC Document</span><br />
        </div>

        <div id="photoLic" class="col-lg-3 " align="center">
            <span style="text-align: center; font-weight: bold">Driving License</span><br />
        </div>

    </div>
</div>
<div class="clearfix"></div>

<div id="xpic" class="col-lg-12 " align="center">

</div>

<br /><br />
